<%- include('../partials/_head') %>

<body> 
	<%- include('../partials/_credentials') %>

	<main style="text-align: center;">

		<div class="bg" style="background-color:rgb(191,191,191);">
			
			<img src="/images/kaleidos_logo.svg" alt="Kaleidos Logo" height="200px" style="position: absolute;">

			<div id="modal-r">

				<button id="btn-test" type="button" onclick="window.location.href = '../'" style="float: right; border: 0; padding: 0; font-size: 38px; transform: rotate(45deg); cursor: pointer;">+</button>
					
				<h2>Register your account</h2>
            
				<form action="/auth/register" method="POST">

					<input class="field" type="text" id="fullName" name="fullName" placeholder="Full Name">

					<input class="field" type="text" id="username" name="username" placeholder="Username">

					<input class="field" type="text" id="email" name="email" placeholder="Email">

					<input class="field" type="text" id="password" name="password" placeholder="Password">

					<input class="field" type="text" id="password2" name="password2" placeholder="Confirm Password">

					<input type="submit" class="submit-button" value="Sign Up">

					<h5 class="acc-instruction">Have an account already? <a id="l-button" href="/auth/login">Login</a></h5>

				</form>
			</div>
		</div>
	</main>

<%- include('../partials/_footer') %>