<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending || <%= title %> </title>
    <!-- <script src="./dropzone-5.7.0/dist/dropzone.js"></script> -->
    <link rel="stylesheet" type="text/css" href="dropzone-5.7.0/dist/basic.css">
</head>

<body>
    <!-- Header/Nav -->
    <%- include('_nav') %>