<header>
    <div class="site-banner">
        <div class="banner-image">
            <a href="/products">
                <img src="/images/trending_banner_logo2.svg" alt="trending logo" height="100px" id="kaleidos-logo">
            </a>
        </div>
        <div class="main-links">
            <a href="/products" class="nav-button" id="products-link">My Products</a>
            <a href="/" class="nav-button" id="logout-btn">Log out</a>
        </div>
    </div>
</header>

<%- include('../partials/_sort') %>




