<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/auth/login">Login</a>
            </li>
            <li>
                <a href="/auth/register">Register</a>
            </li>
            <li>
                <a href="/products">My Products</a>
            </li>
            <li>
                <a href="/products/new">Add Product</a>
            </li>
        </ul>
    </nav>
</header>