<header>
    <div class="siteBanner">
        <div class="bannerImage">
            <a href="/products">
                <img src="/images/trending_banner_logo2.svg" alt="trending logo" height="100px" id="trendingLogo">
            </a>
        </div>
        <div class="mainLinks">
            <a href="/products" class="navButton" id="productsLink">My Products</a>
            <!-- <a href="" class="navButton" id="navLbutton">Login/Register</a> -->
            <!-- new changes -->
            <a href="/" class="navButton" id="logout-btn">Log out</a>
        </div>
    </div>
</header>

<!-- <script>
	const navLButton = document.getElementById('navLButton');
	const logoutBtn = document.getElementById('logout-btn');
	navLButton.style.display = 'none';
	logoutBtn.style.display = 'flex';
	logoutBtn.addEventListener('click', () => {
		navLButton.style.display = 'flex';
	});
</script> -->



<!-- MODALS -->
<!-- <main>
    <div id="bg-modalL">
        <div id="modalL">
            <div id="closeL">+</div>
            <h2>Login to your account</h2>
            
            <form action="/auth/login" method="POST">

                <input class="field" type="text" id="username" name="username" placeholder="Username">

                <input class="field" type="text" id="password" name="password" placeholder="Password"> -->

                <!-- <a href="" class="submitButton">Submit</a> -->
                <!-- <button class="mainButton" id="Rbutton">Register</button>

                <input type="submit" class="submitButton" value="Submit">

            </form>
        </div>
    </div>
  
    <div id="bg-modalR">
        <div id="modalR">
            <div id="closeR">+</div>
            <h2>Register your account</h2>
            <form action="/auth/register" method="POST">

                <input class="field" type="text" id="fullName" name="fullName" placeholder="Full Name">

                <input class="field" type="text" id="username" name="username" placeholder="Username">

                <input class="field" type="text" id="email" name="email" placeholder="Email">

                <input class="field" type="text" id="password" name="password" placeholder="Password">

                <input class="field" type="text" id="password2" name="password2" placeholder="Confirm Password"> -->

                <!-- <a href="" class="submitButton">Submit</a> -->

                <!-- <button class="mainButton" id="Lbutton">Login</button>

                <input type="submit" class="submitButton" value="Submit">


            </form>
        </div>
    </div> -->
<<<<<<< HEAD
<!-- 
    <div id="bg-modalP">
=======

    <!-- <div id="bg-modalP">
>>>>>>> submaster
        <div id="modalP">
            <div id="closeP">+</div>
            <h2>Add New Product</h2>
            <form action="/products" method="POST">

                <input class="field" type="text" id="category" name="category" placeholder="Category">

                <input class="field" type="text" id="name" name="name" placeholder="Name">

                <textarea class="field" name="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>

                <input type="submit" id="addProductSubmit" class="submitButton" value="Add Product">

            </form>
        </div>
    </div> -->
    
<!-- </main> -->

<%- include('../partials/_sort') %>


<script>    

    // const navLbutton = document.getElementById('navLbutton');
    // const Lbutton = document.getElementById('Lbutton');
    // const Lclose = document.getElementById('closeL');
    // const bgModalL = document.getElementById('bg-modalL');

    // const Rbutton = document.getElementById('Rbutton');
    // const Rclose = document.getElementById('closeR');
    // const bgModalR = document.getElementById('bg-modalR');

    // const navPbutton = document.getElementById('navPbutton');
    // const Pclose = document.getElementById('closeP');
    // const bgModalP = document.getElementById('bg-modalP');
    
    
    // navLbutton.addEventListener('click', () => {
    //     bgModalL.style.display = 'flex';
    //     event.preventDefault();
    // });
    
    // Lclose.addEventListener('click', () => {
    //     bgModalL.style.display = 'none';
    // });
    
    // bgModalL.addEventListener('click', () => {
        //     bgModalL.style.display = 'none';
        //     event.preventDefault();
        // });
    
    // Rbutton.addEventListener('click', () => {
    //     bgModalL.style.display = 'none';
    //     bgModalR.style.display = 'flex';
    //     event.preventDefault();
    // });
    
    // Lbutton.addEventListener('click', () => {
    //     bgModalR.style.display = 'none';
    //     bgModalL.style.display = 'flex';
    //     event.preventDefault();  
    // })
    
    // Rclose.addEventListener('click', () => {
    //     bgModalR.style.display = 'none';
    // });
    
    // bgModalR.addEventListener('click', () => {
        //     bgModalR.style.display = 'none';
        //     event.preventDefault();
        // });
        
    // navPbutton.addEventListener('click', () => {
    //     bgModalP.style.display = 'flex';
    //     event.preventDefault();
    // });
    
    // Pclose.addEventListener('click', () => {
    //     bgModalP.style.display = 'none';
    // });
    
    // ModalP.addEventListener('click', () => {
        //     bgModalP.style.display = 'none';
        //     event.preventDefault();
        // });
        
    // document.onkeydown = function(event) {
    //     event = event || window.event;
    //     if (event.keyCode == 27) {
    //         bgModalL.style.display = 'none';
    //         bgModalR.style.display = 'none';
    //         // bgModalP.style.display = 'none';
    //     }
    // };

</script>



