<header>
    <div class="siteBanner">
        <div class="bannerImage">
            <a href="/products">
                <img src="/images/kaleidos_banner_logo.svg" alt="kaleidos logo" height="75px" id="kaleidos-logo">
            </a>
        </div>
        <div class="mainLinks">
            <a href="/products" class="navButton" id="productsLink">My Products</a>
            <a href="/" class="navButton" id="logout-btn">Log out</a>
        </div>
    </div>
</header>

<%- include('../partials/_sort') %>




