<header>
    <nav>
        <ul>

            <li>
                <a href="/" class="navButton" id="trendingLogo">Home</a>
            </li>

            <li>
                <a href="" class="navButton" id="navLbutton">Login/Register</a>
            </li>

            <li>
                <a href="/products" class="navButton">My Products</a>
            </li>

            <li>
                <a href="" class="navButton" id="navPbutton">Add Product</a>
            </li>

        </ul>
    </nav>
</header>
<main>
    <div id="bg-modalL">
        <div id="modalL">
            <div id="closeL">+</div>
            <h2>Login to your account</h2>
            <form action="/auth/login" method="POST">

                <input class="field" type="text" id="username" name="username" placeholder="Username">

                <input class="field" type="text" id="password" name="password" placeholder="Password">

                <a href="" class="submitButton">Submit</a>

                <button class="mainButton" id="Rbutton">Register</button>
            </form>
        </div>
    </div>
  
    <div id="bg-modalR">
        <div id="modalR">
            <div id="closeR">+</div>
            <h2>Register your account</h2>
            <form action="/auth/register" method="POST">

                <input class="field" type="text" id="fullName" name="fullName" placeholder="Full Name">

                <input class="field" type="text" id="username" name="username" placeholder="Username">

                <input class="field" type="text" id="email" name="email" placeholder="Email">

                <input class="field" type="text" id="password" name="password" placeholder="Password">

                <input class="field" type="text" id="password2" name="password2" placeholder="Confirm Password">

                <a href="" class="submitButton">Submit</a>

                <button class="mainButton" id="Lbutton">Login</button>

            </form>
        </div>
    </div>

    <div id="bg-modalP">
        <div id="modalP">
            <div id="closeP">+</div>
            <h2>Add New Product</h2>
            <form action="/products" method="POST">

                <input class="field" type="text" id="brand" name="brand" placeholder="Brand">

                <input class="field" type="text" id="itemName" name="itemName" placeholder="Item Name">

                <textarea class="field" name="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>

                <label for="image">Image Upload:</label>

                <%- include('../partials/_image') %>

                <a href="" class="submitButton">Add Product</a>

            </form>
        </div>
    </div>
    
</main>

<script>
    const navLbutton = document.getElementById('navLbutton');
    const Lbutton = document.getElementById('Lbutton');
    const Lclose = document.getElementById('closeL');
    const bgModalL = document.getElementById('bg-modalL');

    const Rbutton = document.getElementById('Rbutton');
    const Rclose = document.getElementById('closeR');
    const bgModalR = document.getElementById('bg-modalR');

    const navPbutton = document.getElementById('navPbutton');
    const Pclose = document.getElementById('closeP');
    const bgModalP = document.getElementById('bg-modalP');
    
    
    navLbutton.addEventListener('click', () => {
        bgModalL.style.display = 'flex';
        event.preventDefault();
    });
    
    Lclose.addEventListener('click', () => {
         bgModalL.style.display = 'none';
    });
    
    
    Rbutton.addEventListener('click', () => {
        bgModalL.style.display = 'none';
        bgModalR.style.display = 'flex';
        event.preventDefault();
    });

    Lbutton.addEventListener('click', () => {
        bgModalR.style.display = 'none';
        bgModalL.style.display = 'flex';
        event.preventDefault();  
    })
    
    Rclose.addEventListener('click', () => {
        bgModalR.style.display = 'none';
    });

    navPbutton.addEventListener('click', () => {
        bgModalP.style.display = 'flex';
        event.preventDefault();
    });

    Pclose.addEventListener('click', () => {
        bgModalP.style.display = 'none';
    });
    
    document.onkeydown = function(event) {
        event = event || window.event;
        if (event.keyCode == 27) {
            bgModalL.style.display = 'none';
            bgModalR.style.display = 'none';
            bgModalP.style.display = 'none';
        }
    };

    </script>



