<div class="accent-line"></div>
<div class="sort-bar">
	<div>
		<a href="/products/name" class="sort-button" id="by-type-button">Sort By Name</a>
		<a href="/products/category" class="sort-button" id="by-category-button">Sort By Category</a>
		<a href="/products/new" class="sort-button" id="add-item-button">Add Product</a>
	</div>
</div>
<div class="accent-line"></div>