<div class="accent-line"></div>
<div class="sort-bar">
	<div>
<<<<<<< HEAD
		<a href="/products?sort=name" class="sort-button" id="by-type-button">Sort By Name</a>
		<a href="/products?sort=category" class="sort-button" id="by-category-button">Sort By Category</a>
		<a href="/products/new" class="sort-button" id="add-item-button">Add Product</a>
=======
		<a href="" class="sort-button" id="by-type-button">Sort By Type</a>
		<a href="" class="sort-button" id="by-category-button">Sort By Category</a>
		<a href="/products/new" class="sort-button" id="add-product-button">Add Product</a>
>>>>>>> submaster
	</div>
</div>
<div class="accent-line"></div>