<div class="accent-line"></div>
<div class="sort-bar">
	<div>
		<a href="" class="sort-button" id="by-type-button">Sort By Type</a>
		<a href="" class="sort-button" id="by-category-button">Sort By Category</a>
		<a href="/products/new" class="sort-button" id="add-product-button">Add Product</a>
	</div>
</div>
<div class="accent-line"></div>