<%- include('partials/_head') %>
<body> 
    <div class="bg">
        <div class="title-slogan">
            <img src="/images/kaleidos_logo.svg" alt="Kaleidos Logo" height="200px">
            <div class="access-account-links">
                <a href="/products" class="nav-button" id="nav-l-button">Login</a>
                <a href="/products" class="nav-button" id="nav-r-button">Register</a>
            </div>
        </div>
    </div>
<%- include('partials/_footer') %> 


<main>
<!-- Login Modal -->
    <div id="bg-modal-l">
        <div id="modal-l">
            <div id="close-l">+</div>
            <h2>Login to your account</h2>
            
            <form action="/auth/login" method="POST">
                <input class="field" type="text" id="username" name="username" placeholder="Username">

                <input class="field" type="text" id="password" name="password" placeholder="Password">

                <input type="submit" class="submit-button" value="Login">


                <h5 class="acc-instruction">New to Kaleidos? <a id="Rbutton" href="/auth/register">Create an account</a></h5>
            </form>
        </div>
    </div>

  
<!-- Register Modal -->
    <div id="bg-modal-r">
        <div id="modal-r">
            <div id="close-r">+</div>
            <h2>Register your account</h2>
            
            <form action="/auth/register" method="POST">
                <input class="field" type="text" id="fullName" name="fullName" placeholder="Full Name">

                <input class="field" type="text" id="username" name="username" placeholder="Username">

                <input class="field" type="text" id="email" name="email" placeholder="Email">

                <input class="field" type="text" id="password" name="password" placeholder="Password">

                <input class="field" type="text" id="password2" name="password2" placeholder="Confirm Password">

                <input type="submit" class="submit-button" value="Sign Up">
                
                <h5 class="acc-instruction">Have an account already? <a id="l-button" href="/auth/login">Login</a></h5>
            </form>
        </div>
    </div>
</main>



<script>    

    // login
    const navLbutton = document.getElementById('nav-l-button');
    const Lbutton = document.getElementById('l-button');
    const Lclose = document.getElementById('close-l');
    const bgModalL = document.getElementById('bg-modal-l');

    // register
    const navRbutton = document.getElementById('nav-r-button');
    const Rbutton = document.getElementById('r-button');
    const Rclose = document.getElementById('close-r');
    const bgModalR = document.getElementById('bg-modal-r');
    
    
    // OPEN MODAL
    navLbutton.addEventListener('click', () => {
        bgModalL.style.display = 'flex';
        event.preventDefault();
    });

    navRbutton.addEventListener('click', () => {
        bgModalR.style.display = 'flex';
        event.preventDefault();
    });


    // EXIT MODAL
    Lclose.addEventListener('click', () => {
        bgModalL.style.display = 'none';
    });
    
    Rclose.addEventListener('click', () => {
        bgModalR.style.display = 'none';
    });


    // transition to other modal
    Rbutton.addEventListener('click', () => {
        bgModalL.style.display = 'none';
        bgModalR.style.display = 'flex';
        event.preventDefault();
    });
    
    Lbutton.addEventListener('click', () => {
        bgModalR.style.display = 'none';
        bgModalL.style.display = 'flex';
        event.preventDefault();  
    })
               
    // escape function
    document.onkeydown = function(event) {
        event = event || window.event;
        if (event.keyCode == 27) {
            bgModalL.style.display = 'none';
            bgModalR.style.display = 'none';
        }
    };

</script>
