
body {
	margin: 0;
	padding: 0;
	/* background-color: rgba(0, 0, 0, 0.7); */
}


/* Home/Login Page */
.bg {
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.access-account-links {
	top: 100px;
	padding: 40px 0;
	text-align: center;
}


/* Sort Nav */
.accent-line {
	width: 100%;
	height: 2px;
	background-color: #57AFDA;
}

.sort-bar {
	width: 100%;
	height: 40px;
	background-color: #656571;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sort-button {
	margin: 0 4em;
	color: lightgray;
	transition: .3s linear;
	text-decoration: none;
}

.sort-button:hover {
	cursor: pointer;
	transform: scale(1.1);
	color: white;
}

.sort-button:visited {
	text-decoration: none;
	color: lightgray;
}


/* Index CSS */
.displayBody {
	background-color: lightgray;
}

.imageField {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.image-proportion {
	width: 400px;
	height: 100%;
	object-fit: cover;
}

.imageBlock {
	height: 300px;
	width: 400px;
	background-color: white;
	margin: 40px 10px 15px 10px;
	display: flex;
	align-items: flex-end;
	border-radius: 10px;
	cursor: pointer;
	transition: .2s linear;
	position: relative;
	overflow: hidden;
	border: 2px solid #58AFDB;
}

.imageOverlay {
	position: absolute;
	transform: translateY(100%);
	width: 400px;
	height: 50px;
	color: white;
	font-size: 14pt;
	background-image: repeating-linear-gradient(to bottom, rgba(88,175,219,1), rgba(88,175,219,.5));
	border-radius: 8px;
	transition: .2s linear;
}

.overlay-text {
	color: white;
	margin: 15px 20px;

}

.click-for-description {
	float: right;
}

.imageBlock:hover .imageOverlay {
	transform: translateY(0%)
} 

.acc-instruction {
	color: #656471;
}


/* Login Modal */
#bg-modalL {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	display: none;
	z-index: 50;
}
	
#modalL {
	width: 400px;
	height: 280px;
	background-color: white;
	border-radius: 25px;
	text-align: center;
	padding: 20px;
	position: relative;
	box-shadow: -8px 8px 8px rgba(100, 100, 100, 0.75);
	z-index: 60;
}

#closeL {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 38px;
	transform: rotate(45deg);
	cursor: pointer;
	z-index: 60;
}


/* Register Modal */
#bg-modalR {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	display: none;
	z-index: 50;
}

#modalR {
	width: 400px;
	height: 450px;
	background-color: white;
	border-radius: 25px;
	text-align: center;
	padding: 20px;
	position: relative;
	box-shadow: -8px 8px 8px rgba(100, 100, 100, 0.75); 
	z-index: 60; 
}

#closeR {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 38px;
	transform: rotate(45deg);
	cursor: pointer;
	z-index: 60;
}

/* Products Modal */
/* #bg-modalP {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	display: none;
	z-index: 50;
}

#modalP {
	width: 400px;
	height: 300px;
	background-color: white;
	border-radius: 25px;
	text-align: center;
	padding: 20px;
	position: relative;
	box-shadow: -8px 8px 8px rgba(100, 100, 100, 0.75);
	z-index: 60; 
}

#closeP {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 38px;
	transform: rotate(45deg);
	cursor: pointer;
	z-index: 60;
} */


/* Universal */
.field {
	display: block;
	height: 30px;
	width: 250px;
	padding: 7px;
	color: white;
	margin: 10px auto 10px auto;  
	background-color: #58AFDB;
	border: none;
	border-radius: 7px;
	text-align: center;
	font-size: 18px;
}

.field:focus {
	background-color: #2194C1;
	box-shadow: inset 0 0 7px #000000;
	outline: none;
}

::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.text-field {
	height: auto;
}

.submitButton {
	background-color: #58AFDB;
	color: white;
	font-size: 18px;
	width: 100px;
	padding: 10px;
	border-radius: 8px;
	text-decoration: none;
	line-height: 25px;
	transition: .3s ease-in-out;
}

.submitButton:focus {
	outline: none;
	transform: scale(1.1);
	border: none;
	background-color: #2ABBF4;
	box-shadow: -2px 2px 2px rgba(100, 100, 100, 0.75);
}

.submitButton:hover {
	cursor: pointer;
	transform: scale(1.1);
	border: none;
	background-color: #2ABBF4;
	box-shadow: -2px 2px 2px rgba(100, 100, 100, 0.75);
}

footer {
    text-align: center;
    padding: 5px;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
    position: fixed;
    background-color: #656571;
    color: white;
}

/* #addProductSubmit {
	width: 150px;
} */

/* buttons */
/* #Rbutton {
	background-color: #58AFDB;
	color: white;
	padding: 10px; 
	width: 100px;
	border: none;
	margin: 10px 7px;
	border-radius: 8px;
	font-size: 18px;
	text-decoration: none;
	line-height: 25px;
	transition: .3s ease-in-out;
}

#Rbutton:focus {
	outline: none;
	transform: scale(1.1);
	border: none;
	background-color: #2ABBF4;
	box-shadow: -2px 2px 2px rgba(100, 100, 100, 0.75);
}

#Rbutton:hover {
	cursor: pointer;
	transform: scale(1.1);
	border: none;
	background-color: #2ABBF4;
	box-shadow: -2px 2px 2px rgba(100, 100, 100, 0.75);
}

#Lbutton {
	background-color: #58AFDB;
	color: white;
	padding: 10px; 
	width: 100px;
	border: none;
	margin: 10px 7px;
	border-radius: 8px;
	font-size: 18px;
	text-decoration: none;
	line-height: 25px;
	transition: .3s ease-in-out;
}

#Lbutton:focus {
	outline: none;
	transform: scale(1.1);
	border: none;
	background-color: #2ABBF4;
	box-shadow: -2px 2px 2px rgba(100, 100, 100, 0.75);
}

#Lbutton:hover {
	cursor: pointer;
	transform: scale(1.1);
	border: none;
	background-color: #2ABBF4;
	box-shadow: -2px 2px 2px rgba(100, 100, 100, 0.75);
} */

/* nav bar */
.siteBanner {
	width: 100%;
	height: 150px;
	background-color: #EEE; 
	display: flex;
	justify-content: space-between;
	top: 0;
	margin: 0;
	align-items: flex-end;
}

#kaleidos-logo {
	text-align: left;
	margin: 35px 35px;
}

.mainLinks {
	top: 100px;
	padding: 40px 0;
}

.navButton {
	text-decoration: none;
	margin: 20px;
	color: #656471;
	transition: .3s ease-in-out;
	top: 100px;
}

.navButton:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.navButton:visited {
	color: #656471;
}

/* show and edit pages */
.product-description {
    display: grid;
    /* margin-left: 50%;
    margin-right: 50%; */
    align-items: center;
    justify-content: center;
}

.show-product-picture {
	margin-top: 40px;
	border-radius: 10px;
	border: 2px solid #58AFDB;
	width: 600px;
	height: auto;
}

.item-name-text, .item-description-text {
	color: #656571;
	margin: 0;
	display: flex;
}

/* .edit-product {
    margin-top: 5%;
    margin-bottom: .5%;
} */

/* .delete-product, .edit-product {
	display: flex;
} */

/* h2 {
	letter-spacing: .75px;
} */

/* .btn:hover {
    background-color: lightgrey;
    border-radius: 5px;
} */

.delete-btn, .edit-btn {
	background-color: #58AFDB;
	color: white;
	font-size: 18px;
	width: 150px;
	padding: 10px;
	margin: 10px;
	border-radius: 8px;
	text-decoration: none;
	line-height: 25px;
	transition: .3s ease-in-out;
}
/* 
.delete-btn:focus, .edit-btn:focus {
	outline: none;
	transform: scale(1.1);
	border: none;
	background-color: #2ABBF4;
	box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.75);
} */

.edit-delete-btns {
	display: flex;
	margin: 10px;
	justify-content: center;
	align-items: center;
}

.delete-btn:hover, .edit-btn:hover {
	cursor: pointer;
	transform: scale(1.1);
	border: none;
	background-color: #2ABBF4;
	box-shadow: -2px 2px 2px rgba(100, 100, 100, 0.75);
	align-items: center;
}

.title-text {
	text-align: center;
	color: #646470;
}

.image-upload-div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#submit-edit-btn {
	width: 150px;
}