<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="/css/new.css" rel="stylesheet"> -->
    <link href="/css/main.css" rel="stylesheet">
    <title>Trending || <%= title %> </title>
</head>

<body>
    <%- include('../partials/_nav') %>

  <main>
    <h1>Add New Product</h1>

    <form action="/products" method="POST" enctype="multipart/form-data" class="form">

      <div>
        <label for="brand">Brand:</label><br />
        <input type="text" id="brand" name="brand" maxlength="60" size="60"/>
      </div>
      <br />

      <div>
        <label for="itemName">Item Name:</label><br />
        <input type="text" id="itemName" name="itemName" maxlength="60" size="60"/>
      </div>
      <br />

      <div>
        <label for="description">Description:</label><br />
        <textarea name="description" id="description" cols="58" rows="10"></textarea>
      </div>
      <br />

      <div>
        <label for="image">Image:</label><br />
        <input type="file" name="image" />
      </div>
      <br />

      <button type="submit">Add Product</button>
      
    </form>
  </main>

<%- include('../partials/_footer') %>
