<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="/css/new.css" rel="stylesheet"> -->
    <link href="/css/main.css" rel="stylesheet">
    <title>Trending || <%= title %> </title>
</head>

<body>
    <%- include('../partials/_nav') %>

  <main>
    <h2 class="title-text">Add New Item</h2>

    <form action="/products" method="POST" enctype="multipart/form-data" class="form">

      <div>
        <input class="field" type="text" id="category" name="category" maxlength="60" size="60" placeholder="Category"/>
      </div>

      <div>
        <input class="field" type="text" id="name" name="name" maxlength="60" size="60" placeholder="Name"/>
      </div>

      <div>
        <textarea class="field text-field" name="description" id="description" cols="58" rows="5" placeholder="Description"></textarea>
      </div>

      <div>
        <input class="field" type="file" name="image" />
      </div>

      <div class="button-container">
        <input class="submitButton" id="submit-add-btn" type="submit" value="Add Item"></input>
      </div>

    </form>
  </main>

<%- include('../partials/_footer') %>
