<%- include('../partials/_head') %>

<body class="wrapper">
  <%- include('../partials/_nav') %>

  <main class="content-wrap">
    <h2 class="title-text">Add New Item</h2>

    <form action="/products" method="POST" enctype="multipart/form-data" class="form">

      <div>
        <input class="field" type="text" id="category" name="category" maxlength="60" size="60" placeholder="Category *"/>
      </div>

      <div>
        <input class="field" type="text" id="name" name="name" maxlength="60" size="60" placeholder="Name *"/>
      </div>

      <div>
        <textarea class="field text-field" name="description" id="description" cols="58" rows="5" placeholder="Description"></textarea>
      </div>

      <div>
        <input class="field" type="file" name="image" />
      </div>

      <div class="button-container">
        <input class="submit-button" id="submit-add-btn" type="submit" value="Add Item"></input>
      </div>

    </form>
  </main>

<%- include('../partials/_footer') %>
